:root{
    --primary--color:rgb(2, 134, 9);
}


#SignUp{
    background-color: white;
    margin-top: 1%;
    margin-left:3px;
    width:350px;
    height: 500px;
    border-radius:5px;
    padding:2.6px;
    
      animation: fadeIn 1s ease-in-out;
        }
        @keyframes fadeIn {
            from { opacity: 0; transform: translateY(11px); }
            to { opacity: 1; transform: translateY(0); }
        }


#New{
    color:var(--primary--color);
    margin-left:25%;
}
.sign-input{
border:solid 1.7px rgb(2, 134, 9);
width:300px;
height:19.5px;
border-radius:2px;
margin-left:5%;
border-top:none;
border-left:none;
border-right:none;

}
.tit{
    margin-left:5%;
}
#sin{
    margin-top:5%
}
p{
    font-size: 17px;
}
#tec{
    width:100px;
    height:100px;
margin-left: 10%;
margin-top: -20%;
     
    
}
#logo
{
    margin-top: -3%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#rev{
   
    padding:2px;
    text-align: center;
    border-radius:5px;
}
#res{
    color:rgb(5, 17, 10);
}